<!-- Single Artist Page -->
<div class='artist-banner' style="background-image: url('{{ collection.image | collection_img_url : 'master' }}');">
</div>

<div class='wrapper'>
  <h1 class='artist-name'>{{ collection.title }}</h1>
  <p class='artist-intro'>{{ collection.description }}</p>

  <div id='phone-filter__trigger' class='collection-filter__trigger'></div>
  <ul id='phone-filter' class='collection-filter__list'>
    {% for product_type in collection.all_types %}
      <li data-url='/{{ product_type | handleize }}' class='{% if current_tags contains product_type %} current-phone-type active {% endif %}'>{{ product_type }}</li>
    {% endfor %}
  </ul>

  <div class = "collection-content">
    {% for product in collection.products %}
      <a href='{{ product.url | within: collection }}'>
        <div class = "grid__product" onmouseover="this.style.border='1px solid #d0d0d0';" onmouseout="this.style.border='0px';">
          <span class="grid-link__image-centered">
            <img class='grid__product-image' src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"/>
          </span>

          <div class='grid__mobile-info'>
            <p class="grid-link__title">{{ product.title }}</p>
            <p class="grid-link__title grid-link__vendor">{{ product.vendor }} - {{ product.type }}</p>
            <p id='grid__product-money' class="grid-link__meta">{{ product.price | money }}</p>
          </div>
        </div>
      </a>
    {% else %}

      <h1 class = 'text-center'>Oops.. No products!</h1>

    {% endfor %}
  </div>
</div>

<script type='text/javascript'>
  // change phone type
  $(document).ready(function(){
    var initial_phone_type = $('.current-phone-type').text();
    if (initial_phone_type.length < 1){
      $('#phone-filter__trigger').text('Choose Phone');
    } else {
      $('#phone-filter__trigger').text(initial_phone_type);
    }

    $('.collection-filter__trigger').unbind('click').bind('click',function(){
      var filter = $(this).next();
      filter.css('left', $(this).offset().left);

      if ($('.active-filter').hasClass('active-filter') && !filter.hasClass('active-filter')){
        $('.active-filter').removeClass('active-filter').slideUp(200);
      }

      if ($('.active-filter').hasClass('active-filter')){
        filter.removeClass('active-filter').slideUp(200);
      } else {
        filter.addClass('active-filter').slideDown(200);
      }
    });

    $('#phone-filter li').unbind('click').bind('click',function(){
      $('#phone-filter__trigger').text($(this).text());

      window.location.href = '{{ shop.url }}/{{ collection.url }}' + $(this).attr('data-url');
    });
  });

  $(document).off('click').on('click',function(e){
    if (!$(e.target).next().hasClass('active-filter')){
      $('.active-filter').removeClass('active-filter').slideUp(200);
    }
  });
</script>