<div class = 'space-on-top'>
  <h1 class='wrapper'>Limited artist collections</h1>
  {% for i in (1..10) %}
    {% capture artist %}artist_{{ i }}{% endcapture %}
    {% capture artist_tag %}artist_tag_{{ i }}{% endcapture %}
    {% capture artist_quote %}artist_quote_{{ i }}{% endcapture %}
    {% capture artist_intro %}artist_intro_{{ i }}{% endcapture %}
    {% capture artist_img %}artist_{{ i }}.jpg{% endcapture %}
    {% if settings[artist] %}
      <div class='wrapper container' style='display:block'>
        <div class='left-container' style='display:inline-block; vertical-align:top; width:39%;'>
          <img src='{{ artist_img | asset_url }}'/>
        </div>
        <div class='right-container' style='display:inline-block; vertical-align:top; width:60%; text-align:left;'>
          <h1>{{ settings[artist_quote] }}</h1>
          <hr />
          <p>{{ settings[artist_intro] }}</p>
          <hr />
          <div>
          {% for product in collection.products %}
            {% for tag in product.tags %}
              {% if tag contains settings[artist_tag] %}
              <div class='artist-works' style='width:100px; height:100px; display:inline-block;'>
                {% include 'product-grid-item' %}
              </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %} 
</div>