<div class='artist-header'>
  <h1 class='wrapper artist-collection-title'>limited edition</h1>
  <h3 class='wrapper artist-collection-subtitle'>featured artist collections</h3>
</div>

<div class='wrapper artist-all-pc'>
  <h3 class='artist-blue-title uppercase'>Artists</h3>
  {% for collection in collections %}
    {% unless collection.title contains 'Artist' or collection.title contains 'Snap' or collection.title contains 'Tough' or collection.title contains 'Lens' or collection.title contains 'Clear' or collection.title contains 'Accessory' or collection.title contains 'frontpage' %}
      <div class='artist-container-pc' style='min-height: 300px; border-top:1px solid #e0e0e0'>
        <div class='artist-name horizontal-center' style='color:black'>
          <img src="{{ 'favicon.png' | asset_url }}"/>
          <h2 class='uppercase' style='display:inline'>{{ collection.title }}</h2>
          <div class='goto-artist' style='padding:5px 10px; margin: 10px auto; width:200px; border:1px solid #e0e0e0; cursor:pointer;'>Visit Artist's Page</div>
          <p id='artist-handle' style='display:none'>{{ collection.handle }}</p>
        </div>
        <div style='horizontal-center'>
          {% for product in collection.products %}
            {% if product.vendor contains collection.title %}
              <div class='artist-works'>
                <img src="{{ product.featured_image.src | img_url: 'large' }}"/>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>

<div class='wrapper horizontal-center artist-all-mobile'>
  <h3 class='artist-blue-title uppercase'>Artists</h3>
  {% for collection in collections %}
    {% unless collection.title contains 'Artist' or collection.title contains 'Snap' or collection.title contains 'Tough' or collection.title contains 'Lens' or collection.title contains 'Clear' or collection.title contains 'Accessory' or collection.title contains 'frontpage' %}
      <div class='artist-container'>
        <div class='artist-name horizontal-center'>
          <img src="{{ 'favicon.png' | asset_url }}"/>
          <h4 class='uppercase' style='display:inline'>{{ collection.title }}</h4>
          <h5 style='display:none;'>{{ collection.description }}</h5>
          <h6 style='display:none;'>{{ collection.image.src }}</h6>
          <p id='artist-handle' style='display:none'>{{ collection.handle }}</p>
        </div>
        <div class='preview-container' style='horizontal-center'>
          {% for product in collection.products %}
            {% if product.vendor contains collection.title %}
              <div class='artist-works'>
                <img src="{{ product.featured_image.src | img_url: 'large' }}"/>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endunless %}
  {% endfor %}
</div>