<div class='artist-header'>
  <h1 class='wrapper artist-collection-title'>limited edition</h1>
  <h3 class='wrapper artist-collection-subtitle'>featured artist collections</h3>
</div>

<div class='wrapper horizontal-center'>
  <h3 class='artist-blue-title uppercase'>Artists</h3>
  {% for i in (1..10) %}
    {% capture artist %}artist_{{ i }}{% endcapture %}
    {% capture artist_vendor %}artist_name_{{ i }}{% endcapture %}
    {% capture artist_intro %}artist_intro_{{ i }}{% endcapture %}
    {% capture artist_img %}artist_{{ i }}.jpg{% endcapture %}
    {% if settings[artist] %}
      <div class='artist-container'>
        <div class='artist-name horizontal-center'>
          <img src="{{ 'favicon.png' | asset_url }}"/>
          <h3>{{ settings[artist_vendor] }}</h3>
          <h5 style='display:none;'>{{ settings[artist_intro] }}</h5>
          <h6 style='display:none;'>{{ artist_img | asset_url }}</h6>
        </div>
        <div class='preview-container' style='horizontal-center'>
          {% for product in collection.products %}
            {% if product.vendor contains settings[artist_vendor] %}
              <div class='artist-works'>
                <img src="{{ product.featured_image.src | img_url: 'large' }}"/>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>