<div class="header-bar">
  <!-- This is desktop version (favicon, list, cart, search) -->
  <div id='header-bar__pc' class='wrapper'>
    <div class='header-bar__module header-bar__favicon'>
      <a href='/'><img src="{{ 'header_bar_icon_pc.png' | asset_url }}"/></a>
    </div>

    <div class='header-bar__module header-bar__lists'>
      {% for link in linklists.main-menu.links %}
        <a href="{{ link.url }}" class="{% if link.active %}header-bar__link-active{% endif %}">{{ link.title }}</a>
      {% endfor %}
    </div>
        

    <div class='header-bar__module header-bar__cart'>
      <a href="/cart">
        <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
        {{ 'layout.cart.title' | t }}{% unless cart.item_count == 0 %}:{% endunless %}
        <span class="{% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
      </a>
    </div>

    {% if settings.header_search_enable %}
      <div class="header-bar__module header-bar__search">
        {% include 'search-bar' with 'header' %}
      </div>
    {% endif %}
  </div>

  <!-- This is mobile version (Dropdown Menu, favicon, cart) -->
  <div id='header-bar__mobile' class='wrapper'>
    <div class='header-bar__module header-bar__dropdown-btn'>
      <button type="button" class="mobile-nav-trigger" id="MobileNavTrigger">
        <span class="icon icon-hamburger" aria-hidden="true"></span>
        <span>{{ 'layout.navigation.menu' | t }}</span>
      </button>
    </div>

    <div class='header-bar__module header-bar__favicon'>
      <a href='/'><img src="{{ 'header_bar_icon_mobile.png' | asset_url }}"/></a>
    </div>

    <div class='header-bar__module header-bar__cart'>
      <a href="/cart">
        <span class="icon icon-cart header-bar__cart-icon" aria-hidden="true"></span>
        {% unless cart.item_count == 0 %}:{% endunless %}
        <span class="cart-count-mobile {% if cart.item_count == 0 %} hidden-count{% endif %}">{{ cart.item_count }}</span>
      </a>
    </div>
  </div>
  <ul id="MobileNav" class="mobile-nav">
    <li class="mobile-nav__link">
      {% if settings.header_search_enable %}
        <div class="header-bar__search">
          {% include 'search-bar' with 'header' %}
        </div>
      {% endif %}
    </li>

    {% for link in linklists.main-menu.links %}
      <li class="mobile-nav__link" aria-haspopup="true">
        <a href="{{ link.url }}" class="mobile-nav">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
