{% unless grid_item_width %}
  {% assign grid_item_width = 'wide--one-sixth large--one-quarter medium-down--one-half' %}
{% endunless %}

{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

<!-- "grid__product is a specific grid class for this webpage, developed by Yang. Havn't integrate with original griding system" -->
{% unless collection.title contains 'Artist' and template contains 'collection' %}
<div class = "grid__product">
{% endunless %}
  <span class="grid-link__image grid-link__image--product" style="margin-bottom:-8px">
    {% if collection.title contains 'Artist' and template contains 'collection' %}
      <span class="grid-link__image-centered">
        <img style='width:100px; height:100px;' src="{{ product.featured_image.src | img_url: 'small' }}" alt="{{ product.featured_image.alt | escape }}"/>
      </span>
    {% else %}
      <span class="grid-link__image-centered">
        <img class='product-img' src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"/>
        <img class='product-img__second' src="{{ product.images[1].src | img_url: 'large' }}" alt="{{ product.images[1].alt | escape }}" style = "display : none"/>
      </span>
    {% endif %}
  </span>
  <div class="arrow-up"></div>
  <!-- Shopping cart add button -->
  <div class = 'inpage-cart' style = "display:none">
    <h1 class = 'inpage-cart__close'>X</h1>
    <div class = 'inpage-cart__copy-container wrapper'>
      <div class = 'inpage-cart__left-container'>
        <div class="grid">
          <div class="grid__item one-fifth">
            <ul id = "option3" class="grid option3">
            </ul>
          </div>

          <div class="grid__item four-fifths">
            <img class = 'back-img' src="{{ product.featured_image | img_url: 'large'}}"/>
            {% if settings.social_sharing_products %}
              <div style="text-align:center;">
                {% include 'social-sharing' %}
              </div>
            {% endif %}
          </div>

          <style>
            .thumbnail-img{
              cursor:pointer;
            }
          </style>
        </div>
      </div>

      <div class = 'inpage-cart__right-container'>
        <h1 itemprop="name">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% assign variant = product.selected_or_first_available_variant %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <div class="product-single__prices">
            <span id="ProductPrice" class="product-single__price" itemprop="price">
              {{ product.price | money }}
            </span>

            {% if product.compare_at_price > product.price %}
              <s id="ComparePrice" class="product-single__sale-price">
                {{ product.compare_at_price_max | money }}
              </s>
            {% endif %}
          </div>

          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available  %}

                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.id }} @ {{ variant.option1 }} @ {{ variant.option2 }} @ {{ variant.option3 }} @ {{ variant.image | img_url: 'large' }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            <label>{{ product.options[0] }}</label>
            <div id = "option1" class="option1"></div>

            <label>{{ product.options[1] }}</label>
            <select id = "option2" class="option2"></select>
            <div id = "option0" class="option0">
              <span id="Snap" class="Snap"><p>Snap</p></span>
              <span id="Tough" class="Tough"><p>Tough</p></span>
            </div>
            
            <input type = "hidden" name = "return_to" value = "{{ product.url | within: collection }}"/>
            <input type="submit" name="add" id="AddToCart" value="ADD TO CART"/>
          </form>
        </div>
      </div>
    </div>
  </div>
{% unless collection.title contains 'Artist' and template contains 'collection' %}
</div>
{% endunless %}