<!-- "grid__product is a specific grid class for this webpage, developed by Yang. Havn't integrate with original griding system" -->
<div class = "grid__product">
  <span class="grid-link__image-centered">
    <img class='product-img' src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" style=' cursor:pointer;' title='{{ product.url | within: collection }}'/>
  </span>
  <select name="id" id="productSelect" class="product-single__variants">
    {% for variant in product.variants %}

      <option {% if variant.title == product.featured_image.variants[0].title %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.option1 }} @ {{ variant.option2 }} @ {{ variant.option3 }} @ {{ variant.image | img_url: 'large' }} @ {{ variant.price | money }}</option>

    {% endfor %}
  </select>
  <div id='option2' class='option2' style='display:none;'>
  </div>
  <div class='grid__mobile-info'>
    <p id='color-number' class="grid-link__title"></p>
    <hr style='border-color:#b0b0b0; margin-top:-5px; margin-bottom:4px;'/>
    <p class="grid-link__title">{{ product.title }}</p>
    <p class="grid-link__title grid-link__vendor">{{ collection.title }} {{ product.type }} Case</p>
    <p id='grid__product-money' class="grid-link__meta"></p>
  </div>
</div>