<!-- "grid__product is a specific grid class for this webpage, developed by Yang." -->
<div class = "grid__product">
  <span class="grid-link__image-centered">
    <img class='grid__product-image' src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}" data-url='{{ product.url | within: collection }}'/>
  </span>
  <select name="id" id="productSelect" class="product-single__variants">
    {% for variant in product.variants %}

      <option {% if variant.title == product.featured_image.variants[0].title %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.option1 }} @ {{ variant.option2 }} @ {{ variant.option3 }} @ {{ variant.image | img_url: 'large' }} @ {{ variant.price | money }}</option>

    {% endfor %}
  </select>
  <div id='grid__product-thumbnail' class='grid__product-thumbnail'>
  </div>
  <div class='grid__product-info'>
    <p class="grid-link__title">{{ product.title | truncate: 35 }}</p>
    <hr class='grid__product-hr'/>
    {% if collection.title contains 'Limited Edition'%}
      <a class='grid-link__artist' href='{{ shop.url }}/collections/{{ product.vendor | handleize }}/iphone-6s'><p class="grid-link__title grid-link__vendor">{{ product.vendor }}</p></a>
    {% else %}
      <p class="grid-link__title grid-link__vendor">{{ product.type }} Case</p>
    {% endif %}
    <p id='grid__product-money' class="grid-link__meta"></p>
  </div>
</div>