{% assign index = 0 %}

{% if settings.show_promo_image_1 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_2 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_3 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_4 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_5 %}{% assign index = index | plus: 1 %}{% endif %}

{% unless index == 0 %}
  <div class='autoscale__div' style='margin-bottom:2px;'>
    {% capture promo_image %}promo_image_5.jpg{% endcapture %}
    {% capture promo_image_link %}promo_image_5_link{% endcapture %}
    <a href='{{ settings[promo_image_link] }}'>
      <img class='autoscale__elem' src='{{ promo_image | asset_url }}'/>
    </a>
  </div>

  {% for i in (1..4) %}
    {% capture promo_image %}promo_image_{{ i }}.jpg{% endcapture %}
    {% capture promo_image_link %}promo_image_{{ i }}_link{% endcapture %}
    <div class='autoscale__sub-div'>
      <a href='{{ settings[promo_image_link] }}'>
        <img class='autoscale__sub-elem' src='{{ promo_image | asset_url }}'/>
      </a>
    </div>
  {% endfor %}
  <style>
    .homepg-product-image{
      width: 33.1%;
      height: 300px;
      margin: 0;
      border: 1px solid orange;
      display: inline-block;
    }

    @media screen and (max-width: 1000px){
      .homepg-product-image{
        width: 49.4%;
      }
    }
  </style>
  <div>
    <div class='homepg-product-image'>
    </div>
    <div class='homepg-product-image'>
    </div>
    <div class='homepg-product-image'>
    </div>
    <div class='homepg-product-image'>
    </div>
    <div class='homepg-product-image'>
    </div>
    <div class='homepg-product-image'>
    </div>
  </div>

  {% comment %}
  {% for i in (1..5) %}
    {% capture promo_image %}promo_image_{{ i }}.jpg{% endcapture %}
    {% capture promo_image_link %}promo_image_{{ i }}_link{% endcapture %}
    {% capture promo_image_header %}promo_image_{{ i }}_header{% endcapture %}
    {% capture promo_image_intro %}promo_image_{{ i }}_intro{% endcapture %}
    {% capture show_promo_image %}show_promo_image_{{ i }}{% endcapture %}

    {% if settings[show_promo_image] %}
      <div id='front-pg-img-description-{{i}}' class='front-pg-img-description'>
        <h1 class='uppercase' style='font-weight: 500; letter-spacing: -0.8px;'>{{ settings[promo_image_header] }}</h1>
        <p >{{ settings[promo_image_intro] }}</p>
        <a href='{{ settings[promo_image_link] }}'>Shop Now</a>
      </div>
      <div id='front-pg-img-{{i}}' class='autoscale__div'>
        <img class='autoscale__elem' src="{{ promo_image | asset_url }}">
      </div>
    {% endif %}
  {% endfor %}
  {% endcomment %}
{% endunless %}