{% assign index = 0 %}

{% if settings.show_promo_image_1 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_2 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_3 %}{% assign index = index | plus: 1 %}{% endif %}
{% if settings.show_promo_image_4 %}{% assign index = index | plus: 1 %}{% endif %}

{% unless index == 0 %}
  <h1 style="text-align:center;">Promotion Photo</h1>
  {% for i in (1..4) %}
    {% capture promo_image %}promo_image_{{ i }}.jpg{% endcapture %}
    {% capture promo_image_link %}promo_image_{{ i }}_link{% endcapture %}
    {% capture promo_image_alt %}promo_image_{{ i }}_alt{% endcapture %}
    {% capture show_promo_image %}show_promo_image_{{ i }}{% endcapture %}

    {% if settings[show_promo_image] %}
    
    <div class = 'autoscale__div' style = "overflow:hidden;">
      <a href="{{ settings[promo_image_link] }}">
        <img class = 'autoscale__elem' src="{{ promo_image | asset_url }}">
      </a>
    </div>
    {% endif %}
  {% endfor %}

{% endunless %}