<ul class="inline-list social-icons">
  {% if settings.social_instagram_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}" style="color: #ffffff;" onmouseover="this.style.color='#F95923';" onmouseout="this.style.color='#ffffff';">
        <span class="icon icon-instagram" aria-hidden="true"></span>
        <span class="fallback-text">Instagram</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_twitter_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}" style="color: #ffffff;" onmouseover="this.style.color='#F95923';" onmouseout="this.style.color='#ffffff';">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="fallback-text">Twitter</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_facebook_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}" style="color: #ffffff;" onmouseover="this.style.color='#F95923';" onmouseout="this.style.color='#ffffff';">
        <span class="icon icon-facebook" aria-hidden="true"></span>
        <span class="fallback-text">Facebook</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_pinterest_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}" style="color: #ffffff;" onmouseover="this.style.color='#F95923';" onmouseout="this.style.color='#ffffff';">
        <span class="icon icon-pinterest" aria-hidden="true"></span>
        <span class="fallback-text">Pinterest</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_youtube_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}" style="color: #cd201f;">
        <span class="icon icon-youtube" aria-hidden="true"></span>
        <span class="fallback-text">YouTube</span>
      </a>
    </li>
  {% endif %}
  {% if settings.social_tumblr_link != blank %}
    <li>
      <a class="icon-fallback-text" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}" style="color: #ffffff;" onmouseover="this.style.color='#F95923';" onmouseout="this.style.color='#ffffff';">
        <span class="icon icon-tumblr" aria-hidden="true"></span>
        <span class="fallback-text">Tumblr</span>
      </a>
    </li>
  {% endif %}
</ul>