<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<script>window.wh_metafields = {};
 {% if customer.tags.size > 0 %} window.wh_customer_tags = true; {% endif %} 
 window.wh_discount_value = 1;
</script>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="p:domain_verify" content="b8d49aa89028a8e3e6e2f56721921348"/><!-- Pintrist-->
  <meta name="msvalidate.01" content="6DD357A96470DA2439029DA1568A4C3A" /><!-- Bing-->
  <meta name="google-site-verification" content="T2IlUM70xXSsnsJ2ghZncUOwoDQNyq19HadYjfbkZGk" />
  <meta property="og:site_name" content="The Casery"/> <!-- Sitename -->
  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title id='page-title'>
  {{ page_title }} {% if template contains 'product' %}{{ product.type }}{% endif %} @ {% if current_page != 1 %} {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" id='page-description' content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {% include 'google-fonts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  
  <!-- Facebook Pixel Code -->
  <script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '479539592226153');
    fbq('track','PageView');
    {% if template contains 'product' %}
      fbq('track','AddToCart');
    {% endif %}
    fbq('track','Lead');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=479539592226153&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->
  
  <!-- Hotjar Tracking Code for http://thecasery.com -->
  <script>
    (function(h,o,t,j,a,r){h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};h._hjSettings={hjid:137123,hjsv:5};a=o.getElementsByTagName('head')[0];r=o.createElement('script');r.async=1;r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;a.appendChild(r);})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  
<!-- Hits Analytics tracking code -->
{% if shop.customer_accounts_enabled %}
  {% if customer %}
    <script type="text/javascript">
        function hitsReady() {
            if (typeof hits != 'undefined')
                hits('user','identify', {'id' : '{{ customer.id }}'});
            else
                setTimeout(hitsReady,500);
        }
        window.attachEvent ? window.attachEvent('onload', hitsReady) : window.addEventListener('load', hitsReady, false);
    </script>
  {% endif %}
{% endif %}
<!-- end of Hits Analytics code -->

 </head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <!-- This is header-bar -->
  {% include 'header-bar' %}

  <!-- The main body is pretty simple, content and a shopping-cart page which might be used in several pages -->
  <main class="main-content" role="main">
    {{ content_for_layout }}
  </main>

  <footer class="site-footer small--text-center" role="contentinfo">

    <div class="wrapper">

      <div class="grid-uniform">

        {% comment %}
          Calculate the number of footer columns shown
        {% endcomment %}
        {% assign num_footer_columns = 0 %}
        {% if settings.footer_blog_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_quicklinks_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_second_menu_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_social_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}
        {% if settings.footer_newsletter_enable %}
          {% assign num_footer_columns = num_footer_columns | plus: 1 %}
        {% endif %}

        {% case num_footer_columns %}
          {% when 0 %}
          {% when 1 %}
            {% assign footer_column_width = 'text-center' %}
          {% when 2 %}
            {% assign footer_column_width = 'post-large--one-half medium--one-half' %}
          {% when 3 %}
            {% assign footer_column_width = 'post-large--one-third medium--one-third' %}
          {% when 4 %}
            {% assign footer_column_width = 'post-large--one-quarter medium--one-half' %}
          {% when 5 %}
            {% assign footer_column_width = 'post-large--one-fifth medium--one-half' %}
          {% when 6 %}
            {% assign footer_column_width = 'post-large--one-sixth medium--one-half' %}
        {% endcase %}
        
        {% if settings.footer_blog_enable %}
          <div class="grid__item {{ footer_column_width }} site-footer__links">
            <h4><a href="/blogs/{{ settings.footer_blog }}">{{ 'layout.footer.blog_title' | t }}</a></h4>
            {% assign article = blogs[settings.footer_blog].articles.first %}
            <p class="h5">{{ article.title | link_to: article.url }}</p>
            {% if article.excerpt.size > 0 %}
            <div class="clearfix">
              {{ article.excerpt }}
            </div>
            {% else %}
            <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
            {% endif %}
          </div>
        {% endif %}

        {% if settings.footer_quicklinks_enable %}
          <div class="grid__item {{ footer_column_width }}">
            {% unless num_footer_columns == 1 %}
            <h4 class='uppercase'>{{ linklists[settings.footer_quicklinks_linklist].title }}</h4>
            {% endunless %}
            <ul class="site-footer__links{% if num_footer_columns == 1 %} inline-list{% endif %}">
              {% for link in linklists[settings.footer_quicklinks_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        
        {% if settings.footer_second_menu_enable %}
          <div class="grid__item {{ footer_column_width }}">
            <h4 class='uppercase'>{{ linklists[settings.footer_second_menu].title }}</h4>
            <ul class="site-footer__links">
              {% for link in linklists[settings.footer_second_menu].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %} 

        {% if settings.footer_social_enable %}
          <div class="grid__item {{ footer_column_width }}">
            <h4 class='uppercase'>{{ 'layout.footer.social_title' | t }}</h4>
              {% comment %}
                Loop through the social network links
              {% endcomment %}
              {% include 'social-links' %}
          </div>
        {% endif %}

        {% if settings.footer_newsletter_enable %}
          <div class="grid__item {{ footer_column_width }}">
            <h4 class='uppercase'>{{ 'layout.footer.newsletter_title' | t }}</h4>
            <p>{{ 'layout.footer.newsletter_caption' | t }}</p>
            {% include 'newsletter-form' %}
          </div>
        {% endif %}
      </div>

      <hr class="hr--small hr--clear">

      <div class="grid">
        <div class="grid__item text-center">
          <p class="site-footer__links">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}.</p>
        </div>
      </div>
    </div>

  </footer>

  {% for i in (1..4) %}
    {% capture home_section %}home_section_{{ i }}{% endcapture %}
    {% if settings[home_section] == 'slider' %}
      {% assign slider_home_enable = true %}
    {% endif %}
  {% endfor %}


  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}

<input type="hidden" name="_pc_params" value="{{ shop.permanent_domain }}:{{ customer.id }}" />

<!-- Start Twitter Snippet -->
<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('nu70l', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nu70l&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nu70l&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('nu70n', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nu70n&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nu70n&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>

<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
<script type="text/javascript">twttr.conversion.trackPid('nu70r', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=nu70r&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=nu70r&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
</noscript>
<!-- End Twitter Snippet -->

      {% if customer.tags.size > 0 and template != 'cart' %}
        <script>
          $(function(){
            $(document).on('click', "input[name='checkout'], button[name='checkout'], input[name='goto_pp'], button[name='goto_pp'], input[name='goto_gc'], button[name='goto_gc'], [href$='checkout']", function(e){
              e.preventDefault();
              window.location = "/cart";
            });
          });
        </script>
      {% endif %}
      
 </body>
</html>