{% paginate collection.products by 24 %}

{% comment %}
<header class="section-header section-header--large">

  <h1 class="section-header__title{% if settings.collections_tags_enable or settings.collections_sort_enable %} section-header__title--left{% endif %}">{{ collection.title }}</h1>

  {% if settings.collections_tags_enable or settings.collections_sort_enable %}
  <div class="section-header__link--right">
    {% if settings.collections_tags_enable %}
      {% include 'collection-tags' %}
    {% endif %}
    {% if settings.collections_sort_enable %}
      {% include 'collection-sorting' %}
    {% endif %}
  </div>
  {% endif %}
</header>

{% if collection.description != blank %}
  <div class="rte rte--header">
    {{ collection.description }}
  </div>
  <hr class="hr--clear hr--small">
{% endif %}
{% endcomment %}

{% if collection.title contains 'Lens' %}

  <div class = "wrapper space-on-top">
    {% for product in collection.products %}
      <div class="grid__item {{grid_item_width}}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
        <a href="{{ product.url | within: collection }}" class="grid-link{% if settings.collections_center_grid_link %} text-center{% endif %}">
          <span class="grid-link__image grid-link__image--product">
            <span class="grid-link__image-centered">
              <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
            </span>
          </span>
        </a>
      </div>
    {% else %}
      <h1 style = 'text-align:center'>Oops.. No products!</h1>
    {% endfor %}
  </div>

{% elsif collection.title contains 'Artist' %}
  
  {% include 'artist-collection' %}

{% elsif collection.title contains 'Clear' or collection.title contains 'Snap' or collection.title contains 'Tough' or collection.title contains 'Accessory' %}
  <div class = "grid__collection">
    {% for product in collection.products %}
    
      {% include 'product-grid-item' %}

    {% else %}

      <h1 style = 'text-align:center'>Oops.. No products!</h1>

    {% endfor %}
  </div>
{% else %}
  
  {% include 'artist-single' %}

{% endif %}

{% if paginate.pages > 1 %}
  <hr class="hr--clear">

  <div class="text-center">
    {% include 'pagination-custom' %}
  </div>
{% endif %}

{% endpaginate %}
