{% comment %}
  There're 3 different collection types in collection page.
  1. Regular collection. Including 'Men', 'Women', 'Artist'. 3 filters, 1 sort function and regular 'grid-product-item'
  2. Single Artist collection. Including artist banner, name, introduction and simplify 'grid-product-item'
  3. Accessory collection. Including accessory banner and simplify 'grid-product-item'
{% endcomment %}

{% if collection.title contains 'Men' or collection.title contains 'Women' or collection.title contains 'Artist' %}
  {% paginate collection.products by 24 %}
    {{ 'collection.js' | asset_url | script_tag }}

    <div class='wrapper'>
      <div class='collection-header'>
        <div class='banner'>
          <img src="{{ collection.image | collection_img_url : 'master' }}"/>
        </div>

        <div class='filter'>
          <div id='phone-filter__trigger' class='collection-filter__trigger'></div>
          <ul id='phone-filter' class='collection-filter__list'>
            {% for product_type in collection.all_types %}
              <li data-url='/{{ product_type | handleize }}' class='{% if current_tags contains product_type %} current-phone-type active {% endif %}'>{{ product_type }}</li>
            {% endfor %}
          </ul>

          <div id='collection-filter__trigger' class='collection-filter__trigger'></div>
          <ul id='collection-filter' class='collection-filter__list'>
            {% for link in linklists.collection-types.links %}
              <li data-url='{{ link.url }}' class='{% if link.title contains collection.title %} current-collection-type active {% endif %}'>{{ link.title }}</li>
            {% endfor %}
          </ul>

          <div id='case-filter__trigger' class='collection-filter__trigger'></div>
          <ul id='case-filter' class='collection-filter__list'>
            <li data-url='' class="{% unless current_tags contains 'Clear' or current_tags contains 'Slim' or current_tags contains 'Protector' %} current-case-type active {% endunless %}">All Cases</li>
            <li data-url='+Clear' class="{% if current_tags contains 'Clear' %} current-case-type active {% endif %}">Clear</li>
            <li data-url='+Slim' class="{% if current_tags contains 'Slim' %} current-case-type active {% endif %}">Slim</li>
            <li data-url='+Protector' class="{% if current_tags contains 'Protector' %} current-case-type active {% endif %}">Protector</li>
          </ul>

        </div>
        <div class='sort'>
          <div id='collection-sort__trigger' class='collection-filter__trigger'></div>
          <ul id='collection-sort' class='collection-filter__list'>
            <li data-url="?sort_by=best-selling">{{ 'collections.sorting.best_selling' | t }}</li>
            <li data-url="?sort_by=created-descending">{{ 'collections.sorting.date_descending' | t }}</li>
          </ul>
        </div>
      </div>

      <div class='collection-content'>
        {% for product in collection.products %}
        
          {% include 'product-grid-item' %}

        {% else %}

          <h1 class = 'text-center'>Oops.. No products!</h1>

        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        <hr class="hr--clear">

        <div class="text-center">
          {% include 'pagination-custom' %}
        </div>
      {% endif %}
    </div>
  {% endpaginate %}
{% elsif collection.title contains 'Accessory'%}
  {% for product in collection.products %}
    <div class = "collection-regular wrapper">
      <a href='{{ product.url | within: collection }}'>
        <div class = "grid__product" onmouseover="this.style.border='1px solid #d0d0d0';" onmouseout="this.style.border='0px';">
          <span class="grid-link__image-centered">
            <img class='grid__product-image' src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"/>
          </span>

          <div class='grid__mobile-info'>
            <p class="grid-link__title">{{ product.title }}</p>
            <p id='grid__product-money' class="grid-link__meta">{{ product.price | money }}</p>
          </div>
        </div>
      </a>
    </div>
  {% else %}
  
    <div style='width:100%; overflow:hidden;'>
      <img style='width:100%; margin-top:-10%; margin-bottom:-10px;'src = 'http://virtualrealitybrisbane.com/wp-content/uploads/2015/01/COMING-SOON-FRAME.jpg'/>
    </div>

  {% endfor %}
{% else %}
  
  {% include 'artist-single' %}

{% endif %}
