<div class="wrapper" style='margin-bottom:100px;'>

  <div class="section-header" style='display:none'>
    <h1 class="section-header--title">{{ page.title }}</h1>
  </div>
  <div class="rte" style="text-align:center; margin-bottom:40px;">
    {{ page.content }}
  </div>

  {% capture promo_image %}promo_image_1.jpg{% endcapture %}
  <a href='{{ shop.url }}/collections/so-fetch/{{ page.title | handleize }}'><div class='page-phone__collection-image'><img src='{{ promo_image | asset_url }}'/></div></a>
  {% capture promo_image %}promo_image_2.jpg{% endcapture %}
	<a href='{{ shop.url }}/collections/suit-tie/{{ page.title | handleize }}'><div class='page-phone__collection-image'><img src='{{ promo_image | asset_url }}'/></div></a>
  {% capture promo_image %}promo_image_3.jpg{% endcapture %}
	<a href='{{ shop.url }}/collections/limited-edition/{{ page.title | handleize }}'><div class='page-phone__collection-image'><img src='{{ promo_image | asset_url }}'/></div></a>
  {% capture promo_image %}promo_image_4.jpg{% endcapture %}
	<a href='{{ shop.url }}/collections'><div class='page-phone__collection-image'><img src='{{ promo_image | asset_url }}'/></div></a>
</div>
<style>
  .page-phone__collection-image{
    width: 49.5%;
    display: inline-block;
    margin: 0px;
  }

  .page-phone__collection-image img{
    width: 100%;
  }

  @media screen and (max-width: 766px){
    .page-phone__collection-image{
      width: 100%;
    }
  }
</style>