<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="wrapper space-on-top">
    {% if product.collections[0].title contains 'Magnifier' %}
      <div class="">
      </div>

      <div class="grid__item post-large--one-half">
        <h1 itemprop="name">{{ product.title }}</h1>
        <div class="product-single__prices">
          <span id="ProductPrice" class="product-single__price" itemprop="price">
            {{ product.price | money }}
          </span>

          {% if product.compare_at_price > product.price %}
            <s id="ComparePrice" class="product-single__sale-price">
              {{ product.compare_at_price_max | money }}
            </s>
          {% endif %}
        </div>

        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
          <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}

                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          <button type="submit" name="add" id="AddToCart" class="btn">
            <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
        </form>

        {% if settings.social_sharing_products %}
          {% include 'social-sharing' %}
        {% endif %}
      </div>
    {% else %}
      <div class="success-add__container">
        <div class="success-add__container-left">
          <div class="success-add__itemcontainer">
            <div id="item-yes" class="success-add__item">
              <h1>✓</h1>
            </div>
            <div id="item-img" class="success-add__item">
              <img id="item-subimg" src="{{ product.featured_image | img_url:'small'}}"/>
            </div>
            <div id="item-add" class="success-add__item">
              <h4>Added to Cart</h4>
            </div>
          </div>
          <div id="item-total" class="success-add__item">
            <h4>Cart subtotal ({{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}): {{ cart.total_price | money }}</h4>
          </div>
        </div>
        <div class="success-add__container-right">
          <div id = "continue-shopping" class="success-add__item">
            <a href="{{ product.collections[0].url }}"><button class = 'btn--secondary'>Continue Shopping</button></a>
          </div>
          <div id = "process-checkout" class="success-add__item">
            <a href='/cart'><button class = 'btn'>Procceed to Checkout</button></a>
          </div>
        </div>
      </div>
    {% endif %}
  </div>

  <hr/ class = "divider">

  {% if settings.product_related_enable %}
    {% include 'related-products' %}
  {% endif %}

  <hr/ class = "divider">
  <!-- Accessories -->
  {% if collections.accessory.products_count != 0 %}
    {% assign accessory = collections.accessory %}
    {% assign acc_products = accessory.products %}
    {% assign number_of_products = 4 %}
    {% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

    <hr class="hr--clear hr--small">
    <div class="section-header section-header--medium">
      <h4 class="section-header__title">Accessories</h4>
    </div>
    <div class = "grid__collection">
      {% for product in acc_products limit: number_of_products_to_fetch %}
        {% unless forloop.last %}
          {% include 'product-grid-item' %}
        {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</div>


{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
        add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
        sold_out : "{{ 'products.product.sold_out' | t }}",
        unavailable : "{{ 'products.product.unavailable' | t }}"
      }
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>