{{ 'product.js' | asset_url | script_tag }}
<div class='wrapper space-on-top' itemscope itemtype="http://schema.org/Product">
  <!-- Basic information here 
    option 0 is phone type;
    option 1 is case type;
    option 2 is color;
    option 3 is picture;
  -->
  <div class='product-container'>
    <div class='product-container-left'>
      <!-- This is Picture option -->
      <div id='option3' class='option3'></div>
      <div class='product-img-media__container'>
        <div class='product-img__container'>
          <img class='product-img' src="{{ product.featured_image | img_url: '1024x1024'}}" />
          <div class='magnifier-cover'></div>
        </div>
        {% if settings.social_sharing_products %}
          {% include 'social-sharing' %}
        {% endif %}
      </div>
      {% comment %}
      <ul class="slider-dots"></ul>
      {% endcomment %}
    </div> 

    <div class='product-container-right'>
      <h1 id='title' style='font-size:26px; margin-top:10px; text-transform: uppercase;'>{{ product.title }} {{ product.type }} Case</h3>
      {% if product.vendor contains 'Casery' %}
        <p id='vendor' style='font:18px; margin-top:-20px; color:gray;'>{{ product.vendor }}</p>
      {% else %}
        <a class='grid-link__artist' style='font:18px; color:gray;' href='{{ shop.url }}/collections/{{ product.vendor | handleize }}/{{ product.type | handleize }}'><p id='vendor' style='margin-top:-20px;'>{{ product.vendor }}</p></a>
      {% endif %}
      <h3 class='product-pc-money' style='display:inline;'></h3><p style='display:inline; font-size:16px;'>  -  Free shipping in U.S.</p>

      <!-- This is color -->
      <div id = "option2" class="option2"></div>
      <!-- This is phone type 
        1. Pretty tricky here, we have to set paginate to a very large number, otherwise we could only 
           get first 50 products of that collection. 
        2. We search all the products in this collection, if a product has the same title of current product,
           we record its phone type, because they are the same design.
      -->
      <select id = "option0" class="option0">
        {% paginate product.collections[0].products by 1000 %}
          {% for same_product in product.collections[0].products %}
            {% if same_product.title == product.title %}
              <option {% if same_product.type == product.type %} selected='selected' {% endif %} value='{{ shop.url }}{{ same_product.url }}'>{{ same_product.type }}</option>
            {% endif %}
          {% endfor %}
        {% endpaginate %}
      </select>
      <p id='handler' style='display:none;'>{{ product.handle }}</p>

      <!-- This is case type -->
      <div id = "option1" class="option1"></div>

      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
        <select name="id" id="productSelect" class="product-single__variants">
          {% for variant in product.variants %}

            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.option1 }} @ {{ variant.option2 }} @ {{ variant.option3 }} @ {{ variant.image | img_url: '1024x1024' }} @ {{ variant.price | money }}</option>

          {% endfor %}
        </select>
        {% unless product.vendor contains 'Casery' %}
          <p style='font-weight:bold;'>Limited Edition : Quantity of 100</p>
        {% endunless %}
        <h3 class='product-mobile-money'>{{ product.selected_variant.price | money }}</h3>
        <input type="submit" name="add" id="AddToCart" value="ADD TO CART"/>
      </form>
      <div class='product-case-description'>
        <div id='description-clear' class="case-description">
          <p><strong>Clear Case:</strong></p>
          <p>The Casery Clear Case shows off your signature style while offering quality protection. Our dual-layer hybrid hard shell back and flexible bumper edge protect your phone from dents and scratches. The raised edge offers extra protection for your screen and camera. Now you can have a case as unique as you that offers the protection your phone deserves.</p>
        </div>
        <div id='description-slim' class="case-description">
          <p><strong>Slim Case:</strong></p>
          <p>The Casery Slim Case shows off your signature style in our thin, durable shell. Our impact-resistant case slips right into your pocket while protecting your phone from dents and drops. The raised edges protect both your screen and camera from scratches. Now you can have a case as unique as you that offers the protection your phone deserves.</p>
        </div>
        <div id='description-protector' class="case-description">
          <p><strong>Protector Case:</strong></p>
          <p>The Casery Protector Case safeguards your phone in style with our quality dual-layer protection. Our lightweight polycarbonate shell and flexible rubber slipcover shield your phone from scratches, dents, and drops. The impact-resistant bumper helps protect your screen and camera from scratches. Now you can have a case as unique as you that offers the protection your phone deserves.</p>
        </div>
        <p>Designed and Printed in the U.S.</p>
      </div>
    </div>

    <div class='magnifier-content'>
      <img />
    </div>
  </div>

  <hr/ class = "divider">

  {% if settings.product_related_enable %}
    {% include 'related-products' %}
  {% endif %}

  <hr/ class = "divider">
  <!-- Accessories or recent review -->
  <hr class="hr--clear hr--small">
  {% if collections.accessory.products_count != 0 %}
    {% assign accessory = collections.accessory %}
    {% assign acc_products = accessory.products %}
    {% assign number_of_products = 4 %}
    {% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

    <div class="section-header section-header--medium">
      <h4 class="section-header__title">Accessories</h4>
    </div>
    <div class = "collection-regular">
      {% for product in acc_products limit: number_of_products_to_fetch %}
        {% unless forloop.last %}
          {% include 'product-grid-item' %}
        {% endunless %}
      {% endfor %}
    </div>
  {% else %}
    <div class="section-header section-header--medium">
      <h4 class="section-header__title">Recently Viewed Products</h4>
    </div>

    <div class='recent-view text-center'></div>
  {% endif %}
  {% comment %}
  <!-- Drop Test -->
  <hr/ class = "divider">
  <div class='drop-test'>
    <div class="section-header section-header--medium">
      <h4 class="section-header__title">Drop Test</h4>
    </div>
    <div class='drop-test__left'>
      <iframe width="100%" src="https://www.youtube.com/embed/TcbyrkzhIXI" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class='drop-test__right'>
      <p>Just some Test.</p>
    </div>
  </div>
  {% endcomment %}

  <!-- Instagram Feed -->
  <hr/ class = "divider">
  <script src="https://snapwidget.com/js/snapwidget.js"></script>
  <div class="section-header section-header--medium">
    <h4 class="section-header__title">Instagram Feed</h4>
  </div>
  <div class='instagram-feed-pc'>
    <iframe src="https://snapwidget.com/bd/?h=dGhlY2FzZXJ5fGlufDIzMHw0fDF8fHllc3wyMHxub25lfG9uU3RhcnR8eWVzfHllcw==&ve=141215" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
  </div>
  <div class='instagram-feed-mobile'>
    <iframe src="http://snapwidget.com/bd/?h=dGhlY2FzZXJ5fGlufDE1OHwyfDJ8fHllc3wyfG5vbmV8b25TdGFydHx5ZXN8eWVz&ve=140116" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
  </div>
</div>