<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  <div class="wrapper space-on-top">
    <div class="success-add__container">
      <div class="success-add__container-left">
        <div class="success-add__itemcontainer">
          <div id="item-yes" class="success-add__item">
            <h1>✓</h1>
          </div>
          <div id="item-img" class="success-add__item">
            <img id="item-subimg" src="{{ product.featured_image | img_url:'small'}}"/>
          </div>
          <div id="item-add" class="success-add__item">
            <h4>Added to Cart</h4>
          </div>
        </div>
        <div id="item-total" class="success-add__item">
          <h4>Cart subtotal ({{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}): {{ cart.total_price | money }}</h4>
        </div>
      </div>

      <div class="success-add__container-right">
        <div id = "continue-shopping" class="success-add__item">
          <a href="{{ product.collections[0].url }}"><button class = 'btn--secondary'>Continue Shopping</button></a>
        </div>
        <div id = "process-checkout" class="success-add__item">
          <a href='/cart'><button class = 'btn'>Procceed to Checkout</button></a>
        </div>
      </div>
    </div>
  </div>

  <hr/ class = "divider">

  {% if settings.product_related_enable %}
    {% include 'related-products' %}
  {% endif %}

  <hr/ class = "divider">
  <!-- Accessories -->
  {% if collections.accessory.products_count != 0 %}
    {% assign accessory = collections.accessory %}
    {% assign acc_products = accessory.products %}
    {% assign number_of_products = 4 %}
    {% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

    <hr class="hr--clear hr--small">
    <div class="section-header section-header--medium">
      <h4 class="section-header__title">Accessories</h4>
    </div>
    <div class = "grid__collection">
      {% for product in acc_products limit: number_of_products_to_fetch %}
        {% unless forloop.last %}
          {% include 'product-grid-item' %}
        {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</div>